html{
    font-family: 'Quantico', sans-serif;
    padding-left: 30px;
}
button{
    border-radius: 7px;
    padding: 7px;
    background-color: #ff4655;
    color: white;
    border: 2px solid #ff4655;
    font-family: 'Quantico', sans-serif;
    transition: all ease-in-out .3s;
}
button:hover{
    background-color: white;
    color: #ff4655;
    border: 2px solid #ff4655;
    transition: all ease-in-out .3s;
}
#saisie{
    display: block;
}
#spinner {
    /* Size */
    height: 4rem;
    width: 4rem;

    /* Create a curve at the top */
    border: 4px solid #d1d5db;
    border-top-color: #3b82f6;
    border-radius: 50%;

    animation: spinner 800ms linear infinite;
    display: none;
}
input {
    border: none;
    color: black;
    border-bottom: 2px solid #ff4655;
    margin: 7px;
    height: 40px;
}
input:focus{
    outline:  none;
}
::placeholder{
    color: black;
    opacity: 0.7;
}

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}